    // Used in conjunction with mobile .navbar-brand to center logo on mobile.
    .navbar-brand-mobile-wrapper {
      position: relative;
    }
    .navbar-brand {
      // Center logo in mobile navbar.
      margin: auto;
      padding-left: 5%;
    }
    .navbar-brand img {
      max-height: 120%;
    }